.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #111;
    color: white;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo span {
    color: #3fa9f5;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navLinks li {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .navLinks li:hover {
    color: #3fa9f5;
  }

  .navLinks a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #3fa9f5;
  }